/* CENTER ALL STATES */
.loading,
.error,
.success {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ERROR STYLE */
.error {
  color: red;
  text-align: center;
}

/* SUCCESS */
.success {
  color: green;
}