/* COMMON STYLE */
.state {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* LOADING */
.loading {
  color: #3498db;
}

/* ERROR */
.error {
  color: red;
}

/* SUCCESS */
.success {
  color: green;
}